.wrapperRegisterForm{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formInput, .formInput input{
    color: white;
    background-color: #0F0F0F;
    padding: 10px;
    border-radius: 5px;
}

.wrapperButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapperButton button{
    width: 120px;
    height: 40px;
}