* {
    scrollbar-color: #CFD3E4 white;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD3E4;
    border-radius: 20px; /* закругления плашки */
}

.container{
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.content {
    height: calc(100vh - 50px);
}