* {
    scrollbar-color: #313131 #222222;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: white
}

::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #222222;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 20px; /* закругления плашки */
}

.wrapper{
    background-color: #0F0F0F;
}

.container {
    display: grid;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    grid-template-rows: 1fr 9fr;
    grid-gap: 20px;
    color: white;
}

.container > div {
    background-color: #222222;
    border-radius: 5px;
}

.wrapperContent {
    overflow-y: scroll;
    position: relative;
}

.customButton{
    background-color: #0F0F0F;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    transition: .5s all ease;
}

.customButton:hover{
    background-color: #424242;
    color: white;
}