* {
    scrollbar-color: #313131 #222222;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #222222;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 20px; /* закругления плашки */
}

.container {
    display: grid;
    padding: 20px;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: "p n"
                         "p c";
    grid-gap: 20px;
    background-color: #0F0F0F;
    color: white;
}

.container > div {
    background-color: #222222;
    border-radius: 5px;
}

.wrapperProfile {
    grid-area: p;
}

.wrapperNav {
    grid-area: n;
}

.wrapperContent {
    grid-area: c;
    overflow-y: scroll;
    position: relative;

}

.customButton{
    background-color: #0F0F0F;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    transition: .5s all ease;
}

.customButton:hover{
    background-color: #424242;
    color: white;
}