@model ProjectModel

@{
    ViewData["Title"] = "Create Project(AdminPanel)";
}

<h1>Create Project</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteLink" class="control-label"></label>
                <input asp-for="SiteLink" class="form-control" />
                <span asp-validation-for="SiteLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesktopAppLink" class="control-label"></label>
                <input asp-for="DesktopAppLink" class="form-control" />
                <span asp-validation-for="DesktopAppLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AndroidAppLink" class="control-label"></label>
                <input asp-for="AndroidAppLink" class="form-control" />
                <span asp-validation-for="AndroidAppLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IOSAppLink" class="control-label"></label>
                <input asp-for="IOSAppLink" class="form-control" />
                <span asp-validation-for="IOSAppLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button class="btn btn-dark">Back to List</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        CKEDITOR.replace("Description");
    </script>
}
