@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey @ViewData["Name"] !!</h1>
    <form asp-controller="account" asp-action="logout" asp-anti-forgery="true">
        <button type="submit" class="btn btn-dark">Logout</button>
    </form>
</div>
