.navBar {
    margin: 0 20px;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: stretch;
    text-align: center;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    transition: .5s all ease;
    color: white;
}

.navItem:hover {
    background-color: #2196F3;
    color: white;
}


.dropdown {
    align-items: stretch;
    height: 100%;
    background-color: #222222;
    border: none;
    border-radius: 0;
}


.dropdown:hover, .dropdown:focus {
    background-color: #2196F3;
    color: white;
}

.dropdownItem, .dropdownItems{
    background-color: black;
}

.dropdownItem:hover{
    background-color: grey;
}