@model RegisterViewModel
@{
    ViewData["Title"] = "Register (AdminPanel)";
}

<div class="d-flex flex-column w-100 h-100 align-items-center">
    <h2>Register</h2>
    <form asp-area="Admin" asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="w-50">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input type="text" asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <div class="form-group d-flex justify-content-center align-content-center">
                <button type="submit" class="btn btn-outline-dark w-25">Register</button>
            </div>
        </div>
    </form>
    <a asp-area="Admin" asp-action="Login" asp-controller="Account">Login</a>
</div>
