.projects {
    display: grid;
    gap: 20px;
    padding: 15px;
}

.wrapperProject {
    background-color: #2C2C2C;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.wrapperImage {
    width: 60%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.name{
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.technologies{
    margin-left: 20px;
    list-style: none;
}

.technology{
    display: flex;
    align-items: center;
    gap: 5px;
}

.titleTechnologies{
    color: white;
    font-weight: 500;
}

.technologyColor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}



